﻿body {
    font-family: 'Lucide Grande', 'Segoe UI', sans-serif;
    margin: 0px;
    height: 100%;
}

/* classes */
/* TODO: condense these links to 1 or 2 styles (e.g. dark bg / light bg context)*/
.action-link a,
.admintable td a,
.panel-content td a,
.partable td a {
    color: darkred;
    text-decoration: none;
    cursor: pointer;
}

.panel-content td .position-link a {
    /*color: #036 !important;*/
    color: #036;
}
.action-link a:hover,
.admintable td a:hover,
.panel-content td a:hover,
.partable td a:hover {
    text-decoration: underline;
}

.app-head {
    background-color: #055;
    color: #feb;
    height: 60px;
    margin: 0px;
    border-bottom: 1px solid black;
    position: fixed;
    width: 100%;
    z-index: 9999; /* always appear over top */
}

.app-head a {
    color: orange;
}

.content {
    position: absolute;
    /* top padding was more, but navbar adds height... */
    padding-top: 61px; /* includes 10px for t/b margins on fixed header...*/
    width: 100%;
    /*z-index: 2; /* let menus appear over top... */*/
}

.page-greeting {
    color: orange;
    font-weight: normal;
}

.page-head {
    font-size: 1.5em !important;
    margin: 0px;
    padding: 0px;
}

.page-topbar {
    padding: 2px 5px 5px 5px;
}

.panel-content {
    padding: 0px 5px 10px 5px !important;
}

.panel-content th {
    font-size: 1em;
    border: none;
    text-align: right;
    vertical-align: top;
    /*white-space: nowrap;*/
    min-width: 180px;
    max-width: 180px;
    padding: 0 5px 0 5px;
}

.panel-content td {
    border: 1px solid black;
    width: 100%;
    background-color: #e8e8e8;
    vertical-align: top;
}

.panel-content-leave {
    padding: 0px 5px 10px 5px !important;
}

.panel-content-leave th {
    border: none;
    text-align: right;
    vertical-align: top;
    white-space: nowrap;
    min-width: 100px;
    max-width: 100px;
    padding: 0 5px 0 5px;
}

.panel-content-leave td {
    border: 1px solid black;
    width: 100%;
    background-color: #e8e8e8;
    vertical-align: top;
}

.panel-content-check {
    padding: 0px 5px 10px 5px !important;
}

.panel-content-check th {
    border: none;
    text-align: right;
    vertical-align: top;
    white-space: nowrap;
    /*min-width: 150px;
    max-width: 150px;*/
    padding: 0 5px 0 5px;
}

.panel-content-check td {
    border: 1px solid black;
    width: 100%;
    background-color: #e8e8e8;
    vertical-align: top;
}

.selectedPos {
    background-color: #ffdd88; /* see custom jquery-ui.css */
    padding-right: 0px;
}

.vacant {
    color: #AAA;
}

/* copied from old: */
.admintable tr.odd,
.partable tr.odd {
    background-color: #f3f3f3;
}

.admintable tr.even,
.partable tr.even
{
    background-color: #def;
}

.admintable td {
    /*padding: 2px 4px 2px 4px;*/
    padding: 0px 2px 0px 2px;
    text-align: right;
    /*padding-right: 8px !important;*/
}

.admintable th,
.admintable th a,
.partable th,
.partable th a
{
    font-size: 12px;
    text-align: center;
    font-weight: bold;
    color: #feb;
    background-color: #036;
    padding: 2px 4px 2px 4px;
    border-collapse: collapse !important;
}

.admintable td,
.partable td {
    font-size: 13px;
}

.wrapper {
    width: 960px;
}

/* override Kendo UI styles: */
.k-panelbar .k-item .k-header.k-state-selected
{
    font-weight: bold;
    background-color: #036;
    /*color: #f3eed5;*/
    color: #fd8;
    box-shadow: none !important; /* remove red "inner-glow" highlight in Chrome... */
}
/* override white header when collapsed */
.k-panelbar .k-state-default .k-link.k-header.k-state-selected,
.k-panelbar .k-state-default .k-link.k-header.k-state-selected.k-state-focused,
.k-panelbar .k-link.k-header.k-state-selected.k-state-focused.k-state-hover
{
    color: #fd8; /* override black hover */
}

/* custom editor tools: */
.k-editor .k-save
{
    /*background-image: url('Default/sprite.png');*/
    /*
    background: 50% 50% no-repeat url('KendoUI/Default/sprite.png');
    background-position: -45px -30px; */
    background: 50% 50% no-repeat url('MaterialDesign/sprite-content-grey600.png');
    background-position: -175px -110px;
    height: 20px !important; /* w/h specified as 24px in MD css... */
    /*background: 50% 50% no-repeat url(http://digitaltools.node3000.com/wp-content/themes/digital-tools/images/rss-icon-16x16px.png);*/
}

/* overriding default k-bold: */
.k-editor .k-bold
{
    background: 50% 50% no-repeat url('MaterialDesign/sprite-editor-grey600.png');
    background-position: -141px -76px; /* y-pos is -3 from MD css (-73) */
    height: 20px !important; /* w/h specified as 24px in MD css... */
}

/*
.k-editor .k-state-hover .k-bold {
    background: 50% 50% no-repeat url('MaterialDesign/sprite-editor-grey600.png');
    background-position: -141px -76px;
}

.k-editor .k-state-selected .k-bold {
    background: 50% 50% no-repeat url('MaterialDesign/sprite-editor-grey600.png');
    background-position: -141px -76px;
}
*/
/* overriding default k-italic: */
.k-editor .k-italic
{
    background: 50% 50% no-repeat url('MaterialDesign/sprite-editor-grey600.png');
    background-position: -175px -8px; /* y-pos is -3 from MD css (-5) */
    height: 20px !important; /* w/h specified as 24px in MD css... */
}

/* overriding default k-underline: */
.k-editor .k-underline
{
    background: 50% 50% no-repeat url('MaterialDesign/sprite-editor-grey600.png');
    background-position: -175px -178px; /* y-pos is -3 from MD css (-175) */
    height: 20px !important; /* w/h specified as 24px in MD css... */
}

/* overriding default k-insertUnorderedList: */
.k-editor .k-insertUnorderedList
{
    background: 50% 50% no-repeat url('MaterialDesign/sprite-editor-grey600.png');
    background-position: -175px -76px; /* y-pos is -3 from MD css (-73) */
    height: 20px !important; /* w/h specified as 24px in MD css... */
}

/* overriding default k-createLink: */
.k-editor .k-createLink
{
    background: 50% 50% no-repeat url('MaterialDesign/sprite-editor-grey600.png');
    background-position: -5px -212px; /* y-pos is -3 from MD css (-73) */
    height: 20px !important; /* w/h specified as 24px in MD css... */
}

/* for deleting duties, etc. (not part of k-editor) */
.delete-button
{
    background: 50% 50% no-repeat url('MaterialDesign/sprite-action-grey600.png');
    background-position: -107px -172px; /* y-pos is +3 from MD css (-175) */
    height: 24px; /* w/h specified as 24px in MD css... */
    width: 22px;
    display: inline-block;
    padding: 0px !important;
    background-color: transparent;
}

.delete-button:hover {
    background-color: #FB6;
    background-position: -110px -172px; /* y-pos is +3 from MD css (-175) */
    border-left: 3px solid #D00;
    width: 19px;
}

.k-editor .k-editor-button:hover .k-save
{
    background-color: #ff6;
}
/* END custom editor tools */
