﻿<h3 style="margin-left: 1em;">Impersonation</h3>
<div style="margin-left: 2em;">
    <select ng-model="ImpersonatingUser" ng-options="u as u.Text for u in vm.Users" ng-change="changeUser()"></select>
    <span class="action-link" ng-show="user.LanId != user.RealLanId"><a ng-click="ImpersonatingUser = {}; changeUser();">stop impersonation</a></span>
</div>
<div style="text-align: right; font-style: italic;">[impersonation.html]</div>