﻿<br/>

<div style="padding-left: 2em;">

    <ul ng-cloak kendo-panel-bar="panelbar" k-options="options.PanelBar" style="width: 800px;">
        <li id="panel-par" class="k-state-active">
            <span class="k-link k-state-selected">
                <table class="panel-header">
                    <tr>
                        <td>PAR # {{ vm.Par.Id }}</td>
                        <td style="text-align: right;">
                            <!--<span ng-if="countIssues('#panel-par') > 0" class="panel-status">{{ countIssues('#panel-par') }} input issues</span>-->
                        </td>
                    </tr>
                </table>
            </span>
            <div class="panel-content">
                <table>
                    <tr>
                        <th><span style="color: red;">*</span>Action Type:</th>
                        <td>
                            <div ng-if="! (vm.Par.IsPayChangeOnly || vm.Par.IsNameChangeOnly || vm.Par.ActionReasonId == 16)">
                                <!-- Position PARs (ActionCode P...) have no ActionReasons: -->
                                <!--<span>{{ getParTypeLabel() }}</span>
                                <span ng-if="vm.Par.ActionCode.indexOf('U') == 0">
                                    :
                                    @Html.DropDownList("ActionReason", Model.ActionReasons,
                                    new Dictionary<string, object> { { "ng-model", "vm.Par.ActionReasonId" }, {"ng-init", "vm.Par.ActionReasonId = vm.Par.ActionReasonId || options[0].value"} })
                                </span>
                                    -->
                                [ActionReasons]
                                <a href="http://hr.wa.gov/payroll/HRMS/OnLineQuickReference/Pages/HRMSDataDefinitions.aspx" target="_blank">?</a>
                                <div ng-if="vm.Par.ActionCode.indexOf('U3') == 0 && vm.Par.ActionReasonId == 81">
                                    Transfer In? <input type="checkbox" value="1" ng-model="vm.Par.IsTransferIn" ng-change="uncheck('IsTransferOut')" />
                                    Transfer Out? <input type="checkbox" value="1" ng-model="vm.Par.IsTransferOut" ng-change="uncheck('IsTransferIn')" />
                                </div>
                                <div ng-if="vm.Par.ActionCode.indexOf('P2') == 0)">
                                    <input type="checkbox" value="1" ng-model="vm.Par.DeactivateClassCode" />
                                    <span style="font-weight: bold;">Deactivate Job Class?</span>
                                </div>
                                <div class="validation-err">{{ vm.ValErr.ActionReasonId }}</div>
                            </div>
                            <div ng-if="vm.Par.IsPayChangeOnly">Pay Change for <span>{{ vm.Par.EmpPreferredName + ' ' + vm.Par.EmpLastName }}</a></span></div>
                            <div ng-if="vm.Par.IsNameChangeOnly">Name Change for <span>{{ vm.Par.EmpPreferredName + ' ' + vm.Par.EmpLastName }}</a></span></div>
                            <div ng-if="vm.Par.ActionReasonId == 16"><span>Did Not Start</a></span></div>
                        </td>
                    </tr>
                    <tr ng-if="vm.Par.PdId">
                        <th>PDF #:</th>
                        <td><a ng-href="{{ appRoot }}#/pd/{{ vm.Par.PdId }}">{{ vm.Par.PdId }}</a></td>
                    </tr>
                    <tr ng-if="!vm.Par.PdId">
                        <th>PDF:</th>
                        <td><a ng-click="createPdf()">create</a></td>
                    </tr>

                    <tr ng-if="vm.Par.ActionCode.indexOf('P') != 0">
                        <th>Incumbent:</th>
                        <td ng-if="vm.Par.EmployeeId"><a ng-href="{{ appRoot }}#employee/{{ vm.Par.EmployeeId }}">{{ vm.Par.EmpLastName }}, {{ vm.Par.EmpPreferredName || vm.Par.EmpFirstName }}</a></td>
                        <!-- TODO: test whether employee exists yet! -->
                        <td ng-if="!vm.Par.EmployeeId">[VACANT]</td>
                    </tr>
                    <tr>
                        <th><span style="color: red;">*</span>Effective Date:</th>
                        <td>
                            <input type="text" kendo-date-picker id="EffectiveDate" ng-model="vm.Par.EffectiveDate" ng-change="setNewHireDates()" />
                            (mm/dd/yyyy)
                            <span class="validation-err">{{ vm.ValErr.EffectiveDate }}</span>
                        </td>
                    </tr>
                    <tr ng-if="vm.Par.IsTransferOut">
                        <th>Target Agency:</th>
                        <td>
                            @Html.DropDownList("TargetAgency", Model.Selectors.TargetAgency,
                            new Dictionary<string, object>
                                { { "ng-model", "vm.Par.TargetAgencyCode" } })
                                <div class="validation-err">{{ vm.ValErr.TargetAgencyCode }}</div>
                        </td>
                    </tr>
                    <tr ng-if="vm.Par.IsTransferIn">
                        <th>Transferring From Agency:</th>
                        <td>
                            @Html.DropDownList("FromAgency", Model.Selectors.TargetAgency,
                            new Dictionary<string, object>
                                { { "ng-model", "vm.Par.FromAgencyCode" } })
                                <div class="validation-err">{{ ValErr.FromAgencyCode }}</div>
                        </td>
                    </tr>
                    <tr>
                        <th>Action Notes:</th>
                        <td>
                            <textarea ng-model="vm.Par.Notes" rows="5" style="margin: 0px; padding: 0px; width: 100%"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <th>Attachments:</th>
                        <td>
                            <form action="{{ attachmentUrl }}" method="post" enctype="multipart/form-data" id="uploadFormIEframe" target="hiddenFrame">
                                <&nbsp;10mb
                            <input type='file' name='file' id='fileIEframe' onchange="uploadFile()" />
                            </form>
                            <!-- http://blog.paciellogroup.com/2010/04/making-sure-hidden-frames-are-hidden/ -->
                            <ul style="margin: 0px;">
                                <li ng-repeat="att in vm.Par.Attachments">
                                    <a href="~/api/attachment/{{ att.Id }}/attachment"><span>{{ att.FileName }}</span></a>
                                    &nbsp;<a ng-click="deleteAttachment(att)">delete</a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                </table>
                <h3 style="padding-left: 30px; color: #003366;">Approval Workflow: {{ vm.ApprovalWorkflowVm.Status }}</h3>
                <div>
                    <table class="workflow">
                        <tr>
                            <th>Position Title</th>
                            <th>Approver</th>
                            <th>Comment</th>
                            <th>Status</th>
                        </tr>
                        <tr ng-repeat="t in vm.ApprovalWorkflowVm.DisplayTasks">
                            <td>
                                <a href='@Url.Content("~")position/{{ t.Task.ApproverPositionId }}/approval'>{{ t.ApproverPositionTitle }}</a>
                                <span ng-if="t.HasDelegates"><br />Active Delegate:</span>
                                <span ng-repeat="ad in t.ActiveDelegates">
                                    {{ ad.LastName }}, {{ ad.PreferredName }}
                                    <br />
                                </span>
                                <span ng-if="t.AssignedToGroup)"> {{ t.ApproveGroupName }} </span>
                            </td>
                            <td>
                                {{ t.ApproverPositionPersonLastName }}, {{ t.ApproverPositionPersonPreferredName }}
                            </td>
                            <td>
                                <span ng-if="t.Status != 'Active' || t.Authorized == false">{{ t.Task.Comment }}</span>
                                <textarea ng-if="t.Status == 'Active' && t.Authorized" ng-model="t.Task.Comment" rows="2" style="margin: 0px; padding: 0px; max-width: 200px"></textarea>
                            </td>
                            <td>
                                {{ t.Status }}<br />
                                <span ng-if="t.Status != 'Active' && t.Status != 'Created' && t.Status != 'Skipped'">
                                    {{ t.CompletedDateString }}
                                    <br />
                                    {{ t.FinalApproverPersonName }}
                                </span>
                                <span ng-if="isAuthorizedAndActive(t)">
                                    <a ng-click="approvalTaskApprove(t)">Approve</a>
                                    <a ng-click="approvalTaskReject(t)">Reject</a>
                                </span>
                                <a ng-if="!t.Required && (t.Status == 'Active' || t.Status == 'Created') && t.Authorized" ng-click="approvalTaskCanceled(t)">Skip</a>
                                <a ng-if="vm.ApprovalWorkflowVm.Status == 'Created' && t.Status != 'Created' && t.Authorized" ng-click="approvalTaskReset(t)">Reset</a>
                            </td>
                        </tr>
                    </table>
                    <table id="HrOverride" ng-if="(user.RoleName == 'Admin' || user.RoleName == 'HR') && vm.ApprovalWorkflowVm.Status != 'created' && vm.Par.StatusId != 4">
                        <tr>
                            <td>HR Override</td>
                            <td>
                                <textarea ng-model="vm.ApprovalWorkflowVm.Workflow.HrOverrideComment" rows="2" style="margin: 0px; padding: 0px; max-width:300px"></textarea>
                            </td>
                            <td>
                                <a ng-click="hrOverrideWorkflow('Approved');">Approve </a>
                                <a ng-click="hrOverrideWorkflow('Rejected');">Reject </a>
                            </td>
                        </tr>
                    </table>
                    <input type="button" ng-if="vm.ApprovalWorkflowVm.Status == 'Created'" ng-click="saveAndActivateWorkflow()" value="Submit PAR for Approvals" />
                </div>
            </div>
        </li> <!-- /end PanelBar Item -->
        <li id="panel-employee" ng-if="!vm.Par.IsPayChangeOnly">
            <table class="panel-header">
                <tr>
                    <td>Employee</td>
                    <td style="text-align: right;">
                        <span ng-if="countIssues('#panel-employee') > 0" class="panel-status">{{ countIssues('#panel-employee') }} input issues</span>
                    </td>
                </tr>
            </table>
            <div class="panel-content">
                <table>
                    <tr ng-if="vm.Par.ActionCode == 'U3' && ! vm.Par.IsTransferIn && ! vm.Par.IsNameChangeOnly">
                        <th>Incumbent:</th>
                        <td>
                            <span>{{ vm.Par.EmployeeId }}</span>
                            @Html.DropDownList("EmpList", Model.Selectors.CurrentEmp, new Dictionary<string, object>
                                {
                                //{"data-bind", "value: Par.EmployeeId, event: { change: function() { getParDetailWithEmployee(); }}" }
                                {"ng-model", "vm.Par.EmployeeId" }, {"ng-change", "getParDetailWithEmployee()"}
                                })
                                <div class="validation-err">{{ vm.ValErr.EmployeeId }}</div>
                        </td>
                    </tr>
                    <tr ng-if="vm.Par.ActionCode == 'U6' || (vm.Par.ActionCode == 'U3' && vm.Par.IsTransferIn)">
                        <th>HRMS Personnel Number:</th>
                        <td>
                            <div>
                                <input type="text" ng-model="vm.Par.EmpHrmsId" />
                            </div>
                            <div class="validation-err">{{ vm.ValErr.EmpHrmsId }}</div>
                        </td>
                    </tr>
                    <tr>
                        <th><span style="color: red;">*</span>First Name:</th>
                        <td>
                            <input type="text" ng-model="vm.Par.EmpFirstName" />
                            <div class="validation-err">{{ vm.ValErr.EmpFirstName }}</div>
                        </td>
                    </tr>
                    <tr>
                        <th>Preferred First Name:</th>
                        <td>
                            <input type="text" ng-model="vm.Par.EmpPreferredName" />
                        </td>
                    </tr>
                    <tr>
                        <th><span style="color: red;">*</span>Last Name:</th>
                        <td>
                            <input type="text" ng-model="vm.Par.EmpLastName" />
                            <div class="validation-err">{{ vm.ValErr.EmpLastName }}</div>
                        </td>
                    </tr>
                    <tr>
                        <th>Middle Name:</th>
                        <td>
                            <input type="text" ng-model="vm.Par.EmpMiddleName" />
                        </td>
                    </tr>
                    <tr>
                        <th>Suffix:</th>
                        <td>
                            <input type="text" ng-model="vm.Par.EmpSuffix" />
                        </td>
                    </tr>
                    <tr ng-if="!vm.Par.IsNameChangeOnly">
                        <th>Email:</th>
                        <td>
                            <input type="text" ng-model="vm.Par.EmpEmail" />
                        </td>
                    </tr>
                    <tbody ng-if="vm.Par.ActionCode == 'U0' && (user.RoleName == 'HR' || user.RoleName == 'Admin')">
                        <tr>
                            <th>Date of Birth:</th>
                            <td>
                                <div>
                                    <input type="text" kendo-date-picker id="DOB" ng-model="vm.Par.EmpDOB" />
                                </div>
                                <div class="validation-err">{{ vm.ValErr.EmpDOB }}</div>
                            </td>
                        </tr>
                        <tr>
                            <th>SSN:</th>
                            <td>
                                <input id="EmpSSN" type="text" ng-model="vm.Par.EmpSSN" />
                                <div class="validation-err">{{ vm.ValErr.EmpSSN }}</div>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </li>
    </ul>
</div>

<div style="text-align: right; font-style: italic;">[par-detail.html]</div>
