﻿<h3 style="margin-left: 1em;">PAR search</h3>
<div style="margin-left: 2em;">
<table class="searchForm">
    <tr>
        <th>Action Type</th>
        <th>Approval Status</th>
        <th>Created Between</th>
        <th>And</th>
    </tr>
    <tr>
        <td>
            <select ng-model="SelectedActionType" ng-options="action as action.Text for action in vm.ActionTypes">
                <option value=""> - all -</option>
            </select>
        </td>
        <td>
            <select ng-model="SelectedApprovalStatus" ng-options="status as status.Text for status in vm.ApprovalStatuses">
                <option value=""> - all -</option>
            </select>
        </td>
        <td>
            <input type="text" kendo-date-picker name="FromDate" id="FromDate" ng-model="vm.Query.FromDate" />
        </td>
        <td>
            <input type="text" kendo-date-picker name="ToDate" id="ToDate" ng-model="vm.Query.ToDate" />
        </td>
    </tr>
    <tr>
        <td>
            <input type="text" style="width: 130px;" name="Query" id="Query" ng-model="vm.Query.Query" />
        </td>
        <td>
            <input type="button" ng-click="runQuery()" value="search" />
        </td>
        <td colspan="2">search by Par Id, Position Id or Employee Name (last or first)</td>
    </tr>
</table>
<hr />
<strong>{{ vm.Results.length }} found.</strong>
<div id="parGrid" kendo-grid="parGrid" k-options="options.Grid" />
</div>
<div style="text-align: right; font-style: italic;">[par.html]</div>