﻿<h3 style="margin-left: 1em;">Position Descriptions</h3>
<div style="margin-left: 2em;">
    <table class="searchForm">
        <tr>
            <th style="text-align: left;">Search Options</th>
            <th style="text-align: left;">Approval Status</th>
            <th style="text-align: left;">Updated Since</th>
        </tr>
        <tr>
            <td>
                <input type="checkbox" ng-model="vm.Query.IncludeOld" />Include all prior descriptions for each position<br />
                <input type="checkbox" ng-model="vm.Query.DirectReportsOnly" />Direct Reports only<br />
            </td>
            <td></td>
            <td>
                <input type="text" kendo-date-picker ng-model="vm.Query.UpdatedSince" />
            </td>
        </tr>
        <tr>
            <td>
                <input type="text" style="width: 200px;" ng-model="vm.Query.QueryText"></input>
            </td>
            <td><input type="submit" ng-click="runQuery()" value="search" /></td>
            <td></td>
        </tr>
        <tr>
            <td colspan="3">search by Working Title, Position # or Incumbent Name (last or first)
        </tr>
    </table>
    <span class="action-link"><a ng-click="createBlankPd()">Create new, blank PDF</a></span>
    <hr />
    <strong>{{ vm.Results.length }} found.</strong>
    <div id="pdfGrid" kendo-grid="pdfGrid" k-options="options.Grid" />
</div>
    <div style="text-align: right; font-style: italic;">[pdq.html]</div>
