﻿<h3 style="margin-left: 1em;">Position Description # {{ vm.Description.Id }}</h3>
<div style="margin-left: 2em;">
    <div class="action-link">
        <a ng-click="expandAll()">expand</a> / <a ng-click="collapseAll()">collapse</a> all |
        <a ng-click="savePD()">save</a> |
        <a ng-click="deletePD()">delete</a> |
        <a ng-click="asPdf()">printable</a>
    </div>
    <br />
    <ul kendo-panel-bar="panelbar" k-options="options.PanelBar" style="width: 800px;">
        <li class="k-state-active">
            <span class="k-link k-state-selected">Proposed Job Class, Title, Objectives</span>
            <div class="panel-content">
                <table class="formfield">
                    <tr>
                        <th class="panel-content">Position Number:</th>
                        <td><a ng-href="#/position/{{ vm.Description.PositionId }}">{{ vm.Description.PositionId }}</a></td>
                    </tr>
                    <tr>
                        <th>PAR:</th>
                        <td>
                            <span ng-if="! vm.Description.LinkedParId && (user.RoleName=='Admin' || user.RoleName=='HR')"><a ng-click="createPar()">create PAR</a></span>
                            <span ng-if="vm.Description.LinkedParId"><a ng-href="{{ appRoot }}#par/{{ vm.Description.LinkedParId }}">PAR #{{ vm.Description.LinkedParId }}</a></span>
                        </td>
                    </tr>
                    <tr>
                        <th>Incumbent:</th>
                        <td>{{ vm.IncumbentName }}</td>
                    </tr>
                    <tr>
                        <th>Position Type:</th>
                        <td>
                            <select ng-model="vm.Description.PositionTypeCXW" ng-options="item.Id as item.Name for item in options.PositionType.dataSource" />
                        </td>
                    </tr>
                    <tr>
                        <th>Current Job Class:</th>
                        <td><span ng-if="vm.Description.xCurrentJobId">{{ JobClasses[vm.Description.xCurrentJobId] }} ({{ vm.Description.xCurrentJobId }})</span></td>
                    </tr>
                    <tr>
                        <th>Proposed Class/Band: </th>
                        <td>
                            <!--<select ng-model="vm.Description.ProposedJobId" ng-options="jobClass.Value as jobClass.Text for jobClass in options.JobClass.dataSource" />-->
                            <select ng-model="ProposedJobClass" ng-options="jobClass as jobClass.Text for jobClass in vm.JobClasses" />
                            <br/>
                        </td>
                    </tr>
                    <tr>
                        <th>Working Title:</th>
                        <td><input type="text" style="width: 240px;" class="pdf-input" ng-model="vm.Description.WorkingTitle" /></td>
                    </tr>
                    <tr>
                        <th>Objectives:</th>
                        <td>
                            <textarea kendo-editor="objEditor" id="ObjEditor" k-options="options.PdEditor" ng-model="vm.Description.PositionObjective"></textarea>
                        </td>
                    </tr>
                </table>
            </div>
        </li>
        <li ng-if="vm.ApprovalTasks.length">
            <span>Approval / Acknowledgement</span>
            <div class="panel-content" style="height: auto;">
                <br />
                <span class="action-link" ng-if="vm.ApprovalTasks[0].ApprovalStatus == 'Created'">
                    <a ng-click="updateApprovalTask(0, 'Active')">Submit for HR review</a>
                </span>
                <table>
                    <tr>
                        <th style="text-align: center; width: 30%;">Approval Stage</th>
                        <th style="text-align: center;">Comment</th>
                        <th style="text-align: center;">Status</th>
                    </tr>
                    <tr ng-repeat="t in vm.ApprovalTasks track by $index">
                        <td>
                            <span ng-if="t.WorkingTitle && t.LastName">{{ t.WorkingTitle }} ({{ t.LastName }}, {{ t.FirstName }})</span>
                            <span ng-if="t.WorkingTitle && ! t.LastName">{{ t.WorkingTitle }} (<a ng-href="{{ $root.appRoot }}position/{{t.ApproverPositionId}}/approval">DELEGATED</a>)</span>
                            <span ng-if="! t.WorkingTitle">HR</span>
                        </td>
                        <td>
                            <textarea style="width: 240px;" ng-model="t.Comment" />
                        </td>
                        <td>
                            {{ t.ApprovalStatus == 'Canceled' ? 'Skipped' : t.ApprovalStatus }}
                            <span ng-if="t.CompletedDate">
                                : {{ t.CompletedDate | date : 'M/d/yyyy' }}<br />
                                {{ t.ApproverLastName }}, {{ t.ApproverFirstName }}
                            </span>
                            <br />
                            <span ng-if="t.ApprovalStatus == 'Active'">
                                <a ng-click="updateApprovalTask($index, 'Approved')">Approve</a>
                                <a ng-click="updateApprovalTask($index, 'Rejected')">Reject</a>
                                <a ng-click="updateApprovalTask($index, 'Canceled')">Skip</a>
                            </span>
                        </td>
                    </tr>
                </table>
            </div>
        </li>
        <li>
            <span>Primary Responsibilities (Duties and Tasks)</span>
            <div>
                <table style="width: 100%;" style="margin-left: 16px;">
                    <tr>
                        <td>
                            <span class="action-link"><a class="action-link" ng-click="expandDuties()">expand</a> / <a class="action-link" ng-click="collapseDuties()">collapse</a> all</span>
                        </td>
                        <td></td>
                        <td style="text-align: right;">
                            Time Allocation: <span ng-class="{ 'error-text': dutyPctSum() != 100, 'valid-pct': dutyPctSum() == 100 }">{{ dutyPctSum() }}</span>%
                        </td>
                    </tr>
                </table>
                <ul id="DutiesPanelBar" style="margin-left: 16px;" kendo-panel-bar="dutiesPanelBar" k-options="options.DutyPanelBar">
                    <li ng-repeat="item in vm.Duties" id="{{ item.Id }}" class="k-item k-state-default" role="menuitem" aria-expanded="false" aria-hidden="true">
                        <span class="k-link k-header">
                            <table style="margin: 0px;">
                                <tr>
                                    <td style="width: 100px; white-space: nowrap;">
                                        <span ng-click="deleteDuty($index, $event)" class="delete-button" title="delete this Duty"></span>
                                    </td>
                                    <td style="width: 100%;">
                                        <input ng-if="editingDutyId == item.Id" type='text' ng-click="$event.stopPropagation()" ng-keypress="dutyCheckKey($event)" ng-model="item.Duty" style="width: 80%;" />
                                        <span ng-if="editingDutyId != item.Id">{{ item.Duty }}</span>
                                    </td>
                                    <td style="width: 24px; white-space: nowrap">
                                        <input ng-if="editingDutyId == item.Id" type="text" ng-click="$event.stopPropagation()" maxlength="2" size="2" style="width: 15px;" ng-keydown="pctkeydown($event);" ng-keypress="dutyCheckKey($event)" ng-model="item.TimePercent" tabindex="2" />
                                        <span ng-if="editingDutyId != item.Id">{{ item.TimePercent }}</span>
                                        &#37;
                                    </td>
                                </tr>
                            </table>
                            <span class="k-icon k-i-arrow-s k-panelbar-expand"></span>
                        </span>
                        <div class="k-content" role="region" aria-hidden="true" style="display:none">
                            <textarea kendo-editor k-options="options.DutyEditor" ng-model="item.TasksHtml"></textarea>
                        </div>
                    </li>
                    <li>
                        <table style="margin: 0px;">
                            <tr>
                                <td style="width: 100px; white-space: nowrap;">
                                    &nbsp;
                                </td>
                                <td style="width: 100%;">
                                    <span>Other duties</span>
                                </td>
                                <td style="width: 24px; white-space: nowrap">
                                    5
                                    &#37;
                                </td>
                            </tr>
                        </table>
                    </li>
                </ul>
                <span class="action-link"><a ng-click="createDuty()">[*add duty]</a></span>
                <div style="display: none;">
                    *mouse over Duties to preview Related Tasks, click to edit.
                </div>
            </div>
        </li>
        <li>
            Working Relationships
            <div class="panel-content">
                <table class="formfield">
                    <tr>
                        <th>Lead / Supervisor</th>
                        <td>
                            Lead? <input type="checkbox" ng-model="vm.Description.IsLead" />
                            Supervisor? <input type="checkbox" ng-model="vm.Description.IsSupervisor" />
                        </td>
                    </tr>
                    <tr ng-if="vm.Description.PositionTypeCXW == 'C'">
                        <th>Responsibilities</th>
                        <td>
                            Assigns Work? <input type="checkbox" ng-model="vm.Description.AssignsWork" />
                            Instructs? <input type="checkbox" ng-model="vm.Description.Instructs" />
                            Checks Work? <input type="checkbox" ng-model="vm.Description.ChecksWork" />
                            Plans Work? <input type="checkbox" ng-model="vm.Description.PlansWork" />
                            <br />
                            Evaluates? <input type="checkbox" ng-model="vm.Description.EvalsPerformance" />
                            *Corrects / Disciplines? <input type="checkbox" ng-model="vm.Description.Disciplines" />
                            *Hires? <input type="checkbox" ng-model="vm.Description.Hires" />
                            *Terminates? <input type="checkbox" ng-model="vm.Description.Terminates" />
                            <br />
                            *<em>Has the authority to effectively recommend these actions</em>
                        </td>
                    </tr>
                    <tr>
                        <th>FTEs Supervised</th>
                        <td>
                            Direct: <input type="text" style="width: 30px;" ng-model="vm.Description.DirectFteSupervised" />
                            Total: <input type="text" style="width: 30px;" ng-model="vm.Description.TotalFteSupervised" />
                            (todo?: link Supervisor cb)
                        </td>
                    </tr>
                    <tr>
                        <th>Top Job Supervised</th>
                        <td>
                            <select ng-model="TopJobClass" ng-options="jobClass as jobClass.Text for jobClass in vm.JobClasses" />
                            <!--<select ng-model="vm.Description.TopJobClassSupervised" ng-options="item.Value as item.Text for item in options.JobClass.dataSource" />-->
                        </td>
                    </tr>
                    <tr ng-if="vm.Description.PositionTypeCXW == 'C'">
                        <th>Leadership Info</th>
                        <td><textarea rows="5" cols="50" class="pdf-input" ng-model="vm.Description.SupervisorLeadAddInfo"></textarea></td>
                    </tr>
                    <tr ng-if="vm.Description.PositionTypeCXW == 'C'">
                        <th>Supervision Received</th>
                        <td><span>{{ vm.Description.SupervisionLevel }}</span></td>
                    </tr>
                    <tr ng-if="vm.Description.PositionTypeCXW == 'C'">
                        <th>Position Interactions</th>
                        <td><textarea rows="5" cols="50" class="pdf-input" ng-model="vm.Description.SupervisionAddInfo"></textarea></td>
                    </tr>
                </table>
            </div>
        </li>
        <li ng-show="vm.Description.PositionTypeCXW != 'C'">
            <span>WMS / Exempt</span>
            <div>
                <span class="action-link"><a ng-click="expandWx()">expand</a> / <a ng-click="collapseWx()">collapse</a> all</span>
                <ul ng-show="vm.Description.PositionTypeCXW != 'C'" style="margin-left: 16px;" kendo-panel-bar="wxPanelBar" k-options="options.PanelBar">
                    <li ng-show="vm.Description.PositionTypeCXW == 'X'" class="k-item k-state-default" role="menuitem" aria-expanded="false" aria-hidden="true">
                        <span class="k-link k-header">Exempt Citation (RCW) and Heading</span>
                        <div class="k-content" role="region" aria-hidden="true" style="display:none">
                            <div class="k-item k-state-default" role="menuitem" aria-expanded="false" aria-hidden="true">
                                Mgmt Code: <input type="text" ng-model="vm.Description.xMgmtCodePMC" maxlength="1" style="width: 2em;" /><br/>
                                Current JVAC Points: {{ vm.Description.xCurrentJvacEvalPts }}<br/>
                                Proposed JVAC Eval Points: <input type="text" style="width: 2em;" maxlength="3" ng-model="vm.Description.xProposedJvacEvalPts" />
                                <br />
                                Current Band: {{ vm.Description.xCurrentBand }}<br />
                                Proposed Band:
                                <select ng-model="vm.Description.xProposedBand">
                                    <option value="BAND 1">BAND 1</option>
                                    <option value="BAND 2">BAND 2</option>
                                    <option value="BAND 3">BAND 3</option>
                                    <option value="BAND 4">BAND 4</option>
                                    <option value="BAND 5">BAND 5</option>
                                </select>
                            </div>
                            <textarea kendo-editor style="height: 50px;" k-options="options.PdEditor" ng-model="vm.Description.xExemptCitationHeading"></textarea>
                        </div>
                    </li>

                    <li class="k-item k-state-default" role="menuitem" aria-expanded="false" aria-hidden="true">
                        <span class="k-link k-header">Policy Impact</span>
                        <div class="k-content" role="region" aria-hidden="true" style="display:none">
                            <textarea kendo-editor k-options="options.PdEditor" ng-model="vm.Description.wxDecisionPolicyImpact"></textarea>
                        </div>
                    </li>
                    <li class="k-item k-state-default" role="menuitem" aria-expanded="false" aria-hidden="true">
                        <span class="k-link k-header">Decision-making Responsibilities</span>
                        <div class="k-content" role="region" aria-hidden="true" style="display:none">
                            <textarea kendo-editor k-options="options.PdEditor" ng-model="vm.Description.wxDecisionResponsibility"></textarea>
                        </div>
                    </li>
                    <li ng-hide="vm.Description.PositionTypeCXW != 'W'" class="k-item k-state-default" role="menuitem" aria-expanded="false" aria-hidden="true">
                        <span class="k-link k-header">Decision Expert Authority</span>
                        <div class="k-content" role="region" aria-hidden="true" style="display:none">
                            <textarea kendo-editor k-options="options.PdEditor" ng-model="vm.Description.wDecisionExpertise"></textarea>
                        </div>
                    </li>
                    <li ng-hide="vm.Description.PositionTypeCXW != 'W'" class="k-item k-state-default" role="menuitem" aria-expanded="false" aria-hidden="true">
                        <span class="k-link k-header">Decision Nature: Tactical / Strategic</span>
                        <div class="k-content" role="region" aria-hidden="true" style="display:none">
                            <textarea kendo-editor k-options="options.PdEditor" ng-model="vm.Description.wDecisionsTacticalStrategic"></textarea>
                        </div>
                    </li>
                    <li class="k-item k-state-default" role="menuitem" aria-expanded="false" aria-hidden="true">
                        <span class="k-link k-header">Decisions Requiring Supervisor Oversight</span>
                        <div class="k-content" role="region" aria-hidden="true" style="display:none">
                            <textarea kendo-editor k-options="options.PdEditor" ng-model="vm.Description.wxDecisionsUnauthorized"></textarea>
                        </div>
                    </li>
                    <li ng-show="vm.Description.PositionTypeCXW == 'W'" k-item k-state-default" role="menuitem" aria-expanded="false" aria-hidden="true">
                        <span class="k-link k-header">Scope of Accountability</span>
                        <div class="k-content" role="region" aria-hidden="true" style="display:none">
                            <textarea kendo-editor k-options="options.PdEditor" ng-model="vm.Description.wAccountabilityScope"></textarea>
                        </div>
                    </li>
                    <li ng-hide="vm.Description.PositionTypeCXW != 'W'" class="k-item k-state-default" role="menuitem" aria-expanded="false" aria-hidden="true">
                        <span class="k-link k-header">Decision Impact Risks</span>
                        <div class="k-content" role="region" aria-hidden="true" style="display:none">
                            <textarea kendo-editor k-options="options.PdEditor" ng-model="vm.Description.wDecisionsRisk"></textarea>
                        </div>
                    </li>
                    <li class="k-item k-state-default" role="menuitem" aria-expanded="false" aria-hidden="true">
                        <span class="k-link k-header">Financial Budget</span>
                        <div class="k-content" role="region" aria-hidden="true" style="display:none">
                            <textarea kendo-editor k-options="options.PdEditor" ng-model="vm.Description.wxFinancialBudget"></textarea>
                        </div>
                    </li>
                    <li class="k-item k-state-default" role="menuitem" aria-expanded="false" aria-hidden="true">
                        <span class="k-link k-header">Financial Impact</span>
                        <div class="k-content" role="region" aria-hidden="true" style="display:none">
                            <textarea kendo-editor k-options="options.PdEditor" ng-model="vm.Description.wxFinancialImpact"></textarea>
                        </div>
                    </li>
                </ul>
            </div>
        </li>
        <li>
            <span>Qualifications, Special Conditions<span ng-if="vm.Description.PositionTypeCXW == 'C'">, In-Training Plan</span></span>
            <div>
                <span class="action-link"><a ng-click="expandQuals()">expand</a> / <a ng-click="collapseQuals()">collapse</a> all</span>
                <ul id="QualsPanelBar" style="margin-left: 16px;" kendo-panel-bar="qualsPanelBar" k-options="options.PanelBar">
                    <li class="k-item k-state-default" role="menuitem" aria-expanded="false" aria-hidden="true">
                        <span class="k-link k-header">Required Qualifications</span>
                        <div class="k-content" role="region" aria-hidden="true" style="display:none">
                            <textarea ng-change="savePD()" kendo-editor k-options="options.PdEditor" ng-model="vm.Description.QualificationsRequired"></textarea>
                        </div>
                    </li>
                    <li class="k-item k-state-default" role="menuitem" aria-expanded="false" aria-hidden="true">
                        <span class="k-link k-header">Preferred Qualifications</span>
                        <div class="k-content" role="region" aria-hidden="true" style="display:none">
                            <textarea ng-change="savePD()" kendo-editor k-options="options.PdEditor" ng-model="vm.Description.QualificationsPreferred"></textarea>
                        </div>
                    </li>
                    <li class="k-item k-state-default" role="menuitem" aria-expanded="false" aria-hidden="true">
                        <span class="k-link k-header">Special Conditions</span>
                        <div class="k-content" role="region" aria-hidden="true" style="display:none">
                            <textarea kendo-editor k-options="options.PdEditor" ng-model="vm.Description.SpecialRequirements"></textarea>
                        </div>
                    </li>
                    <li class="k-item k-state-default" role="menuitem" aria-expanded="false" aria-hidden="true">
                        <span class="k-link k-header">COOP Critical Function Support</span>
                        <div class="k-content" role="region" aria-hidden="true" style="display:none">
                            <textarea kendo-editor k-options="options.PdEditor" ng-model="vm.Description.CoopSupportFunctions"></textarea>
                        </div>
                    </li>
                    <li ng-if="vm.Description.PositionTypeCXW == 'C'" class="k-item k-state-default" role="menuitem" aria-expanded="false" aria-hidden="true">
                        <span class="k-link k-header">In-Training Plan</span>
                        <div class="k-content" role="region" aria-hidden="true" style="display:none">
                            <textarea kendo-editor k-options="options.PdEditor" ng-model="vm.Description.InTrainingPlan"></textarea>
                        </div>
                    </li>
                </ul>
                <br>
            </div>
        </li>
        <li>
            <span>Working Conditions</span>
            <div class="panel-content">
                <table class="formfield">
                    <tr>
                        <th>Work Setting</th>
                        <td>
                            <textarea rows="5" cols="50" class="pdf-input" ng-model="vm.Description.WorkSetting"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <th>Schedule</th>
                        <td>
                            <textarea rows="5" cols="50" class="pdf-input" ng-model="vm.Description.WorkSchedule"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <th>Travel</th>
                        <td>
                            <textarea rows="5" cols="50" class="pdf-input" ng-model="vm.Description.TravelReqs"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <th>Tools and Equipment</th>
                        <td>
                            <textarea rows="5" cols="50" class="pdf-input" ng-model="vm.Description.ToolsEquipment"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <th>Customer Interaction</th>
                        <td>
                            <textarea rows="5" cols="50" class="pdf-input" ng-model="vm.Description.CustomerInteraction"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <th>Other</th>
                        <td>
                            <textarea rows="5" cols="50" class="pdf-input" ng-model="vm.Description.WorkingConditionsOther"></textarea>
                        </td>
                    </tr>
                </table>
            </div>
        </li>
    </ul>
</div>
<div style="text-align: right; font-style: italic;">[position-description.html]</div>