﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" id="ng-app" ng-app="app" ng-controller="MainController" style="height: 100%;">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>HrApi.WebClient - main</title>
    <!-- NOTE, AngularJS released 1.3.0 2014-10-13, dropping IE8 support. -->
    <!-- the final KendoUI version to target Angular 1.2 was 2014.2.1112.
        , which uses jQuery 1.9.1 -->
    <!-- future KendoUIs may or may not work with Angular 1.2 legacy branch. -->
    <script src="js/kendoui/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
    <script src="js/angular-route.js"></script>
    <script src="js/kendoui/kendo.web.min.js"></script>
    <script src="js/kendoui/kendo.angular.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/ng-controllers.js"></script>
    <link rel="stylesheet" href="css/KendoUI/kendo.common.min.css" />
    <link rel="stylesheet" href="css/KendoUI/kendo.default.min.css" />
    <link rel="stylesheet" href="css/site.css" />
</head>
<body>
    <span id="notifier" kendo-notification="asyncNotification" k-options="options.AsyncNotification"></span>

    <div class="app-head">
        <div class="page-topbar">
            <span class="page-head">CTS Agency Applications</span>
            <div style="float:right">
            Hello, <span class="page-greeting">
                    <span ng-if="(user.RoleName == 'HR' || user.RoleName == 'Admin' || user.LanId != user.RealLanId)"><a ng-href="#/Impersonation">{{ user.FirstName }}</a> ({{ user.RoleName }})</span>
                    <span ng-if="(user.RoleName != 'HR' && user.RoleName != 'Admin') && user.LanId == user.RealLanId">{{ user.FirstName }}</span>
                </span>
            </div>
            <br/>
            <div style="float:right">
                <span style="background-color: #666;" id="Message"></span>
            </div>
        </div>
        <div>
            <a ng-href="#/">Home</a> |
            <a ng-href="#/par?WorkflowStatusId=1">PAR</a> | 
            <a ng-href="#/pd">PDF</a>
        </div>
    </div>
    <div class="content">
        <div style="width: 99%; height: 100%; border: 1px solid red; display: block;" ng-view>
            Main Content goes here...
        </div>
    </div>
    <script id="asyncOpTemplate" type="text/x-kendo-template">
        <!-- TODO: dynamically calculate width based on rendered content? (wraps in Chrome without nowrap) -->
        <div class="async-op" style="background-color: \\#fd8; white-space: nowrap;">
            <img src="css/kendoui/Default/loading.gif" />
            <span style="font-weight: bold; font-size: 1.1em">#= message #</span>
        </div>
    </script>
</body>
</html>